@font-face {
    font-family: 'Angry Font';
    src: url(fonts/angrybirds-regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: url(img/angry_birds.jpg);
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: 60%;
    color: rgb(1, 1, 90);
    display: flex;
    font-family: 'Angry Font';
    flex-direction: column;
    justify-content: center;
}

.msg {
    height: 6vh;
    line-height: 6vh;
    margin: 1vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    text-align: center;
    width: 70vw;
}

#main {
    align-items: center;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
    width: 90vw;
}

#panel {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

#scoreboard {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div#p1, div#p2 {
    display: flex;
    width: 19%;
    justify-content: space-between;
    font-size: 1rem;
}

#p1 img {
    height: 10vw;
    margin-right: 0.5vw;
}

#p2 img {
    height: 10vw;
    margin-left: 0.5vw;
}

#next-player {
    background-color: rgba(122, 175, 236, 0.8);
    border: 2px solid rgb(1, 1, 90);
    border: 2px solid rgb(1, 1, 90);
    border-radius: 5%;
    font-size: 80%;
    font-weight: bolder;
    height: 20vh;
    text-transform: uppercase;
    text-align: center;
    width: 20vh;
}

#reset {
    border-radius: 50%;
    background-image: url(img/reset_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    height: 6vh;
    width: 6vh;
    outline: none;
    cursor: pointer;
}

#board {
    display: flex;
}

.currentDisk {
    height: 8vh;
    margin: 0 auto 2vh;
    text-align: center;
    width: 8vh;
}

.column {
    background-color: rgba(122, 175, 236, 0.8);
    border: 2px solid rgb(1, 1, 90);
    display: flex;
    flex-direction: column-reverse;
    height: 34vh;
    width: 11.5vw;
}

.disks {
    /* border-radius: 50vw; */
    height: 10vw;
    margin: 0 auto;
    width: 10vw;
    animation: move 1s ease-in-out;
    position: relative;
}

.play1 {
    background-image: url(img/Angry-birds-vermelho.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: change;
    animation-duration: 1s;
}

.play2 {
    background-image: url(img/angry-bird-verde.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: change2;
    animation-duration: 1s;
}

.error {
    color: red;
}

.draw {
    color: black
}

.success {
    color: green;
}

#result {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2vw;
    font-family: 'Angry Font';
    display: flex;
    font-size: 7vw;
    height: 90%;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    width: 90%;
}

#music-control {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    height: 6vh;
    width: 6vh;
    outline: none;
    cursor: pointer;
}

.play-music {
    background-image: url(img/play-music-button.png);
}

.pause-music {
    background-image: url(img/pause-music-button.png);
}

#instructions {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90vw;
    height: 90vh;
    background: linear-gradient(to bottom, rgba(87, 182, 255, 1) 0%, rgba(156, 211, 254, 1) 35%, rgba(253, 255, 255, 1) 100%);
    z-index: 1;
    padding: 0.5vw;
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

#textInstructions {
    font-size: 6.8vw;
    text-align: center;
    width: 90vw;
    height: 30vh;
}

#playButton {
    background-color: transparent;
    background-image: url(img/play-button-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    border: none;
    outline: none;
    width: 60vw;
    height: 25vh;
    cursor: pointer;
}

input:hover, button:hover {
    color: white;
    opacity: 0.8;
}

@media(min-width: 600px) {
    body {
        background-size: 120% 120%;
        padding: 0;
    }
    h1 {
        margin-top: 5vh;
    }
    .msg {
        width: 60vw;
        font-size: 2vw;
    }
    #main {
        flex-direction: row;
        width: 80vw;
    }
    #panel {
        flex-direction: column;
        height: 60vh;
        width: 20vw;
    }
    #next-player {
        font-size: 2vw;
        height: 20vw;
        width: 20vw;
    }
    .currentDisk {
        height: 10vh;
        margin: 4vh auto;
        width: 10vh;
    }
    .column {
        height: 65vh;
        width: 7vw;
    }
    .disks {
        height: 3.5vw;
        width: 3.5vw;
    }
    .play1 {
        background-image: url(img/Angry-birds-vermelho.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 2vw;
    }
    .play2 {
        background-image: url(img/angry-bird-verde.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 2vw;
    }
    div#p1, div#p2 {
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        width: 25%;
    }
    #p1 img {
        height: 5vw;
        margin-right: 0.5vw;
    }
    #p2 img {
        height: 5vw;
        margin-left: 0.5vw;
    }
    #instructions {
        width: 90vw;
        height: 90vh;
        padding: 50px;
    }
    #textInstructions {
        font-size: 2.5vw;
        width: 100%;
        height: 50%;
        columns: 35px 2;
        column-gap: 50px;
        margin: 0;
        padding: 0;
    }
    #playButton {
        width: 25vw;
        height: 35vh;
        margin: 0;
    }
}

@media(min-width: 1921px){
    .disks {
        height: 2vw;
        width: 2vw;
    }

    #next-player {
        font-size: 2vw;
        height: 15vw;
        width: 20vw;
    }
}

@keyframes move {
    from {
        top: -80vh;
    }
    to {
        top: 0;
    }
}

@keyframes change {
    from {
        top: -80vh;
        background-image: url(img/Angry-birds-vermelho.png);
    }
    to {
        top: 0;
        background-image: url(img/bird.png);
    }
}

@keyframes change2 {
    from {
        top: -80vh;
        background-image: url(img/angry-bird-verde.png);
        background-size: 100%;
    }
    to {
        top: 0;
        background-image: url(img/pig.png);
        background-size: 100%;
    }
}